<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product
        Id='*'
        Name='rIdle'
        UpgradeCode='BF2F23A4-1065-4A3C-9A52-AE5A52DDEBD2'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'
        Manufacturer='local76'>
        
        <Package
            Id='*'
            Keywords='Installer'
            Description='rIdle'
            Comments='rIdle unified packaging installer'
            Manufacturer='local76'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            SummaryCodepage='1252'/>

        <Icon Id='app_ico' SourceFile='assets\brand\app.ico'/>
        <Property Id='ARPPRODUCTICON' Value='app_ico'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='rIdle Installation [1]'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFiles64Folder' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='ridle'>
                    <Component Id='ridle_bin' Guid='BF2F23A4-1065-4A3C-9A52-AE5A52DDEBD3' Win64='yes'>
                        <File
                             Id='ridle_exe'
                             Name='ridle.exe'
                             DiskId='1'
                             Source='$(var.CargoTargetBinDir)\ridle.exe'
                             KeyPath='yes'/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id='MainProgram' Title='rIdle Application' Level='1'>
            <ComponentRef Id='ridle_bin'/>
        </Feature>
    </Product>
</Wix>
